.card {
  width: 100%;
  min-height: 100%;
  padding: 1em;
  border: 1px solid var(--black-4);
  border-radius: 5px;
  box-shadow: none;
  cursor: pointer;
  transition: all 200ms ease;
}

.card:hover {
  box-shadow: 0 1px 3px -1px var(--black-3);
}

.card img {
  width: 100%;
  height: auto;
  aspect-ratio: 3/2;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 0.75em;
}

.card h4 {
  letter-spacing: -1px;
  font-weight: bold;
}
