* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none !important;
}

a,
a:hover,
a:focus,
a:visited {
  color: inherit;
}

:root {
  --color-1: #ccd5ae;
  --color-2: #f2f6d8;
  --color-3: #fefae0;
  --color-4: #faedcd;
  --color-5: #d4a373;

  --black-1: #212529;
  --black-2: #495057;
  --black-3: #6c757d;
  --black-4: #ced4da;
  --black-5: #e9ecef;
  --black-6: #f8f9fa;

  --slow-transition: all 400ms ease-in-out;
  --fast-transition: all 300ms ease-in-out;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--black-1);
  background-color: var(--black-6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans", sans-serif;
}

section {
  padding: 3em 0;
}

.CTABtn {
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 0.75rem 1.5rem;
  background-color: var(--color-2);
  transition: var(--fast-transition);
}

.CTABtn i {
  margin-left: 0.5rem;
}

.CTABtn:hover {
  border: 2px solid var(--black-1);
}

.section-heading {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 1.5em;
}

.section-heading::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 4px;
  width: 50px;
  background-color: var(--color-5);
  transition: var(--fast-transition);
}

.section-heading:hover.section-heading::before {
  width: 100%;
}
