.heroImg {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.heroHeading {
  font-size: 4rem;
  letter-spacing: -2px;
  font-weight: 800;
}

.heroHeading span {
  padding: 0 0.75rem;
  background-color: var(--color-5);
}

.heroCTA {
  align-self: flex-start;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 0.75rem 1.5rem;
  background-color: var(--color-2);
  transition: var(--fast-transition);
}

.heroCTA:hover {
  border: 2px solid var(--black-1);
}
