.heroImg {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.heroHeading {
  font-size: 4rem;
  letter-spacing: -2px;
  font-weight: 800;
}

.heroHeading span {
  padding: 0 0.75rem;
  background-color: var(--color-5);
}

.heroCTA {
  align-self: flex-start;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 0.75rem 1.5rem;
  background-color: var(--color-2);
  transition: var(--fast-transition);
}

.heroCTA:hover {
  border: 2px solid var(--black-1);
}

.categoryBtn {
  background-color: var(--color-4);
}

.form {
  padding: 1em;
  border-radius: 5px;
}

.form input {
  display: block;
  flex: 1;
  margin: 0.5em auto;
  padding: 0.45em;
  font-size: 16px;
  border: 2px solid var(--black-3);
  outline: none;
  border-radius: 5px;
  transition: var(--fast-transition);
}

.form input:focus {
  background-color: var(--color-2);
  border: 2px solid var(--black-1);
}
