.postContainer img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
}

.postTitle {
  margin: 1em 0;
  color: var(--black-2);
  letter-spacing: -2px;
  font-weight: 700;
  text-align: center;
}

.postData {
  display: flex;
  justify-content: center;
  gap: 2em;
  color: var(--black-3);
}

.data {
  max-width: 320px;
}

.postText {
  width: 75%;
  margin: 0 auto;
}
